<div ng-controller="settingController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Application Settings</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash)" ></flash-message>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <h4 class="panel-title col-md-9 pull-left">Core Settings</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group" style="margin-top: 0;">
                                <label>Application Logo:</label>
                                <button class="btn btn-raised btn-primary" ngf-select="uploadFiles($files, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">Update Logo</button>
                                <img ng-src="{{imageUrl}}" alt="Logo" style="width:100%;border: 1px solid #D2D2D2;"/>
                            </div>
                            <hr>
                            <form name="coreSettingForm" role="form" ng-submit="updateCoreSettingData()">
                                <div class="form-group" ng-repeat="coreSetting in settingCoreDatas">
                                    <label>{{coreSetting.key}}</label>
                                    <input class="form-control" name="{{coreSetting.id}}" placeholder="Enter text" ng-model="coreSetting.value">
                                </div>
                                <button type="submit" class="btn btn-raised btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <h4 class="panel-title col-md-9 pull-left">Current Settings</h4>
                        <a class="pull-right header-icon-holder" type='button' data-toggle="modal" data-target="#settingCreateModal" style="margin:0 5px;">   
                            <i class="material-icons md-24">note_add</i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form role="form" ng-submit="updateSettingData()">
                                <div class="form-group" ng-repeat="setting in settingDatas">
                                    <label>{{setting.key}}</label>
                                    <button class="btn btn-danger pull-right" type='button' data-toggle="modal" data-target="#settingDeleteModal" ng-click="openDeleteModal(setting.id)" style="margin: 0 1px; padding: 6px 10px;">   
                                        <i class="material-icons md-16">delete</i>
                                    </button>
                                    <input class="form-control" name="{{setting.id}}" placeholder="Enter text" ng-model="setting.value">
                                </div>
                                <button type="submit" class="btn btn-raised btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->


    <div class="modal fade" tabindex="-1" role="dialog" id="settingDeleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Modal</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete Application Setting "{{deleteSettingData.key}}"</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="deleteSetting(deleteID)" class="btn btn-danger">Delete Setting</button>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade" tabindex="-1" role="dialog" id="settingCreateModal">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Settings</h4>
            </div>
            <div class="modal-body">
                <form role="form" ng-submit="createSettingData()">
                    <div class="form-group">
                        <input class="form-control" name="key" placeholder="Enter Key" ng-model="key">
                        <input class="form-control" name="value" placeholder="Enter Value" ng-model="value">
                    </div>
                    <button type="submit" class="btn btn-raised btn-primary">Add</button>
                    <button type="reset" class="btn btn-raised btn-default">Clear</button>
                </form>
            </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>
<!-- /#settingController -->